body {

    background: url("../assets/green-bokeh.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 90px;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(28, 85, 2, 0.7);
    opacity:0.3;
} */



.display-4 {
    color: green;
}

.navbar {
    opacity: 0.8;
}
.nav-link {
    color:white;
}

.container {
    
    margin-top: 40px;
    margin-bottom: 40px;
}

.accordion-item {
    text-align: center;
    
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='green'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(
180deg
);
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='green'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

.accordion-button:not(.collapsed) {
    color:#198754;
    background-color:white;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #198754;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #198754;
}

#headshot {
    padding-bottom: 10px;
}

.contact-buttons {
    padding-bottom: 10px;
    text-align: center;
}

#pdf-download {
    padding-bottom: 10px;
    float:none; 
    text-align: center;
}

.card-body{
    text-align: center;
    padding-bottom: 10px;
}

.card {
    padding-bottom: 10px;
}

.jumbotron {
    padding-bottom: 20px;
    
}
.bio{
    text-align: center;
}
.my-4 {
    color:#198754;
   
}

hr:not([size]) {
    height: 5px;
}

.btn {
    box-shadow: 0 4px 8px 0 rgba(2, 121, 28, 0.2), 0 6px 20px 0 rgba(5, 65, 37, 0.19);
}

