body {

    background: url("../assets/meadow.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 90px;
}

.display-4 {
    color: green;
}

.nav-link {
    color:white;
}

  
.container {
    background-color: white;
    
}

.accordion-item {
    text-align: center;
}

.accordion-button {
    color: 
}
