body {

    background: url("../assets/meadow.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 90px;
}

.display-4 {
    color: green;
}

.nav-link {
    color:white;
}

.container {
    background-color: white;
    
}

.accordion-item {
    text-align: center;
    
}


.accordion-button:not(.collapsed) {
    color:#198754;
    background-color:#dbf5e9;
    
}

.accordion-button:focus {
    z-index: 3;
    border-color: #198754;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #198754;
}

#headshot {
    padding-bottom: 10px;
}

.contact-buttons {
    padding-bottom: 10px;
    text-align: center;
}

#pdf-download {
    padding-bottom: 10px;
    float:none; 
    text-align: center;
}

.card-body{
    text-align: center;
}

.card {
    padding-bottom: 5px;
}

.jumbotron {
    padding-bottom: 10px;
}

.bio{
    text-align: center;
}