.display-4 {
    color: green;
}

.nav-link {
    color:white;
}

.hero-image {
    background-image: url("../assets/meadow.jpg"); /* The image used */
    background-color: lightgreen; /*Used if the image is unavailable*/
    height: 100%; /*100% to ensure it tracks with any resizing*/
    background-position: left; /* Center the image */
}
  
.container {
    background-color: white;
    
}

